html,
body {
    height: 100%;
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}

.wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Negate bootstraps */
header nav.navbar {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .navbar-form .input-group-btn,
    .navbar-form .input-group-addon {
    width: auto;
    }
}


article.game-short {
    padding: 10px;
}
article.game-short img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
article.game-short img~button {
    border-radius: 0 0 6px 6px;
}

.push, /* Helps prevent vertical overflow onto footer */
footer {
    height: 60px;
}

footer {
    padding: 10px 0;
}

footer p {
    text-align: center;
    margin: auto;
}