<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccess.Properties.Settings.n8509719ConnectionString" connectionString="Data Source=fastapps04.qut.edu.au;Initial Catalog=n8509719;Persist Security Info=True;User ID=n8509719;Password=&quot;1 2 3 4&quot;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
